<div class="nav" [ngClass]="{ nav__black: navShow }">
  <img
    routerLink=""
    class="nav__logo"
    src="../assets/mbgcLogo.png"
    alt="mez Logo"
  />

  <div class="navpages">
    <!-- <p
      class="navpage"
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </p>

    <p
      class="navpage"
      routerLink="my-list"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      My List
    </p> -->
    <div
      routerLinkActive="active"
      class="navpage"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <p routerLink="/">Home</p>
    </div>
    <div
      routerLinkActive="active"
      class="navpage"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <p routerLink="/my-list">My List</p>
    </div>
  </div>
  <img
    class="nav__avatar"
    src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png"
    alt="Avatar"
  />
</div>
