.title {
  margin-top: 20px;
  margin-left: 50px;
  border-bottom-color: red;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  width: 20%;
}
.row {
  margin-left: 50px;
  color: black;
}

.row__posters {
  display: flex;
  transition: all 1s linear;
  flex-wrap: wrap;
  margin-left: 50px;
  flex-direction: row;
  min-height: 510px;
  align-content: flex-start;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  height: 150px;
  width: 160px;
}

.row__posterLarge {
  height: 100%;
  transition: transform 450ms;
}

.containerLarge:hover,
.container:hover {
  transform: scale(1.09);
}

.containerLarge {
  position: relative;
  max-height: 200px;
  max-width: 270px;
  text-align: center;
  transition: transform 450ms;
  margin: 10px;
}
.container {
  position: relative;
  max-height: 150px;
  max-width: 160px;
  text-align: center;
  transition: transform 450ms;
  margin: 10px;
}

.basketIconLarge,
.starIconLarge,
.infoIconLarge,
.basketIcon,
.starIcon,
.infoIcon {
  opacity: 100%;
  position: absolute;
  bottom: 0%;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.basketIconLarge {
  left: 0;
  transform: translate(20px, -15px);
}
.starIconLarge {
  left: 0;
  transform: translate(60px, -15px);
}
.infoIconLarge {
  right: 0;
  transform: translate(-20px, -15px);
}

.basketIcon {
  left: 0;
  transform: translate(10px, -15px);
}
.starIcon {
  left: 0;
  transform: translate(45px, -15px);
}
.infoIcon {
  right: 0;
  transform: translate(-10px, -15px);
}

.overlayContainerLarge,
.overlayContainer {
  opacity: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.48);
  transition: 0.5s;
  border-radius: 5px;
}

.overlayContainerLarge:hover,
.overlayContainer:hover {
  opacity: 100%;
}

.overlayTextLarge,
.overlayText {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 20px;
  bottom: 25px;
  text-align: left;
  cursor: pointer;
}

.overlayText {
  font-size: 16px;
  bottom: 36px;
  left: 10px;
}

h4 {
  border-bottom-color: red;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  width: 20%;
}

h2 {
  margin: 0;
}

.popUpDesc {
  background-color: rgba(255, 0, 0, 0.637);
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-right: 50px;
}
.badgesContainer {
  display: flex;
}
.badge {
  background-color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.noGames {
  padding: 10px;
  color: white;
  background-color: red;
  border-radius: 5px;
  margin-left: 50px;
  display: block;
  width: fit-content;
  margin-bottom: 400px;
}

.banner {
  color: white;
  object-fit: contain;
  height: 200px;
}
