<app-navbar/>
<div class="banner"></div>
<h1 class="title">My List</h1>
<div *ngIf="starredGames.length !== 0" class="row__posters" #posters>
    <ng-container *ngFor="let game of starredGames">
      <div class="container">
        <img
          src="{{ game.image_url }}"
          alt="{{ game.name }}"
          class="row__poster"
        />
        <div class="overlayContainer">
          <p class="overlayText" >
            {{ game.name }}
          </p>
          <a
            target="_blank"
            href="https://www.amazon.com/s?k={{ game.name }}+board+game"
          >
            <img
              class="basketIcon"
              src="../../assets/basketIcon.png"
              alt="basketIcon"
            />
          </a>

          <img
          (click)="removeStar(game)"
            class="starIcon"
            src="../../assets/likedIcon.png"
            alt="IconLarge"
            alt="basketIcon"
          />
        </div>
      </div>
    </ng-container>
  </div>

  <p class="noGames" *ngIf="starredGames.length == 0">You have no games added to your list</p>

<app-footer/>
