<header
  class="banner"
  style="
    background-size: cover;
    background-position: center center;
    /* background-image: url('../assets/bannerBg.jpeg'); */
    background-image: url('https://assets.dicebreaker.com/scythe-board-game-box-artwork.jpg/BROK/resize/1200x1200%3E/format/jpg/quality/70/scythe-board-game-box-artwork.jpg');
  "
>
  <div class="banner__contents">
    <h1 class="banner__title">Scythe</h1>

    <div class="banner__buttons">
      <button class="banner__button">Play</button>
      <button class="banner__button">More Info</button>
    </div>
    <h1 class="banner__description">
      <em>Scythe</em> gives players almost complete control over their fate.
      Other than each player's individual hidden objective card, the only
      elements of luck or variability are &quot;Encounter&quot; cards that
      players will draw as they interact with the citizens of newly explored
      lands. Each encounter card provides the player with...
    </h1>
  </div>
  <div class="banner--fadeBottom"></div>
</header>
