.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 50px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  padding-bottom: 0.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.banner__description {
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 500px;
  height: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.popUpDescription {
  color: white;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 500px;
  height: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  height: 80px; /* set a fixed height */
  overflow: auto;
}

.banner__button {
  color: white;
  cursor: pointer;
  columns: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.8);
  transition: all 0.2s;
}

.banner__button:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.2s;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(220, 220, 220, 0.61),
    white
  );
}

* {
  transition: all 2s;
}
.popUpDesc {
  padding: 5px;
  border-radius: 5px;
  color: black;
  margin-right: 50px;
}
.badgesContainer {
  display: flex;
}
.badge {
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  color: black;
}

.starIcon {
  height: 31.5px;
  position: absolute;
  opacity: 70%;
  cursor: pointer;
}
