<div class="row">
  <h4>Most Popular</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of boardGames">
      <img
        *ngIf="
          game.image_url !==
          'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
        "
        src="{{ game.image_url }}"
        alt="Image description"
        class="row__posterLarge"
      />
    </ng-container>
  </div>
  <h4>2 Players</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board2Games">
      <img
        *ngIf="
          game.image_url !==
          'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
        "
        src="{{ game.image_url }}"
        alt="{{ game.name }}"
        class="row__poster"
      />
    </ng-container>
  </div>
  <h4>3-4 Players</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board34Games">
      <img
        *ngIf="
          game.image_url !==
          'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
        "
        src="{{ game.image_url }}"
        alt="{{ game.name }}"
        class="row__poster"
      />
    </ng-container>
  </div>
  <h4>5-6 Players</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board56Games">
      <img
        *ngIf="
          game.image_url !==
          'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
        "
        src="{{ game.image_url }}"
        alt="{{ game.name }}"
        class="row__poster"
      />
    </ng-container>
  </div>
  <h4>6+ Players</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board6pGames">
      <img
        *ngIf="
          game.image_url !==
          'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
        "
        src="{{ game.image_url }}"
        alt="{{ game.name }}"
        class="row__poster"
      />
    </ng-container>
  </div>
</div>
