<div class="row">
  <h4>MOST POPULAR</h4>
  <app-game-card
    [gameList]="boardGames"
    [playerNumber]="'0'"
    [largePosters]="true"
  ></app-game-card>
  <h4>2 PLAYERS</h4>
  <app-game-card [gameList]="board2Games" [playerNumber]="'2'"></app-game-card>
  <h4>3-4 PLAYERS</h4>
  <app-game-card [gameList]="board34Games" [playerNumber]="'4'"></app-game-card>
  <h4>5-6 PLAYERS</h4>
  <app-game-card [gameList]="board56Games" [playerNumber]="'6'"></app-game-card>
  <h4>7+ PLAYERS</h4>
  <app-game-card [gameList]="board7pGames" [playerNumber]="'7'"></app-game-card>
</div>
