<div class="row">
  <h4>MOST POPULAR</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of boardGames">
      <div class="containerLarge">
        <img
          *ngIf="
            game.image_url !==
            'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
          "
          src="{{ game.image_url }}"
          alt="Image description"
          class="row__posterLarge"
        />
        <div class="overlayContainerLarge" (click)="hidePopUp()">
          <p
            class="overlayTextLarge"
            (click)="onLargeGameClicked(game); onEvent($event)"
          >
            {{ game.name }}
          </p>
          <a
            target="_blank"
            href="https://www.amazon.com/s?k={{ game.name }}+board+game"
          >
            <img
              class="basketIconLarge"
              src="../../assets/basketIcon.png"
              alt="IconLarge"
            />
          </a>
          <img
            class="starIconLarge"
            [src]="
              isStarred(game)
                ? '../../assets/starredIcon.png'
                : '../../assets/starIcon.png'
            "
            alt="IconLarge"
            (click)="starGame(game); onEvent($event)"
          />
          <img
            (click)="onLargeGameClicked(game); onEvent($event)"
            class="infoIconLarge"
            src="../../assets/infoIcon.png"
            alt="IconLarge"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div class="popUpDesc" *ngIf="showGameDetails == '0'">
    <h2>{{ clickedGame.name }}</h2>
    <div class="badgesContainer">
      <p class="badge">{{ clickedGame.year_published }}</p>
      <p class="badge">Ages:{{ clickedGame.min_age }}+</p>
      <p class="badge">
        Playtime: {{ clickedGame.min_playtime }}-{{
          clickedGame.max_playtime
        }}mins
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players != clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}-{{ clickedGame.max_players }}
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players == clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}
      </p>
    </div>
    <h3 *ngIf="clickedGame.description_preview !== ''">Description</h3>
    <p>{{ clickedGame.description_preview }}</p>
  </div>
  <h4>2 PLAYERS</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board2Games">
      <div class="container">
        <img
          *ngIf="
            game.image_url !==
            'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
          "
          src="{{ game.image_url }}"
          alt="{{ game.name }}"
          class="row__poster"
        />
        <div class="overlayContainer" (click)="hidePopUp()">
          <p class="overlayText" (click)="onGameClicked(game); onEvent($event)">
            {{ game.name }}
          </p>
          <a
            target="_blank"
            href="https://www.amazon.com/s?k={{ game.name }}+board+game"
          >
            <img
              class="basketIcon"
              src="../../assets/basketIcon.png"
              alt="basketIcon"
            />
          </a>

          <img
            class="starIcon"
            [src]="
              isStarred(game)
                ? '../../assets/starredIcon.png'
                : '../../assets/starIcon.png'
            "
            alt="IconLarge"
            (click)="starGame(game); onEvent($event)"
            alt="basketIcon"
          />
          <img
            (click)="onGameClicked(game); onEvent($event)"
            class="infoIcon"
            src="../../assets/infoIcon.png"
            alt="basketIcon"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div class="popUpDesc" *ngIf="showGameDetails == '2'">
    <h2>{{ clickedGame.name }}</h2>
    <div class="badgesContainer">
      <p class="badge">{{ clickedGame.year_published }}</p>
      <p class="badge">Ages:{{ clickedGame.min_age }}+</p>
      <p class="badge">
        Playtime: {{ clickedGame.min_playtime }}-{{
          clickedGame.max_playtime
        }}mins
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players != clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}-{{ clickedGame.max_players }}
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players == clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}
      </p>
    </div>
    <h3 *ngIf="clickedGame.description_preview !== ''">Description</h3>
    <p>{{ clickedGame.description_preview }}</p>
  </div>
  <h4>3-4 PLAYERS</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board34Games">
      <div class="container">
        <img
          *ngIf="
            game.image_url !==
            'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
          "
          src="{{ game.image_url }}"
          alt="{{ game.name }}"
          class="row__poster"
        />
        <div class="overlayContainer" (click)="hidePopUp()">
          <p class="overlayText" (click)="onGameClicked(game); onEvent($event)">
            {{ game.name }}
          </p>
          <a
            target="_blank"
            href="https://www.amazon.com/s?k={{ game.name }}+board+game"
          >
            <img
              class="basketIcon"
              src="../../assets/basketIcon.png"
              alt="basketIcon"
            />
          </a>
          <img
            class="starIcon"
            [src]="
              isStarred(game)
                ? '../../assets/starredIcon.png'
                : '../../assets/starIcon.png'
            "
            alt="IconLarge"
            (click)="starGame(game); onEvent($event)"
            alt="basketIcon"
          />
          <img
            (click)="onGameClicked(game); onEvent($event)"
            class="infoIcon"
            src="../../assets/infoIcon.png"
            alt="basketIcon"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div class="popUpDesc" *ngIf="showGameDetails == '4'">
    <h2>{{ clickedGame.name }}</h2>
    <div class="badgesContainer">
      <p class="badge">{{ clickedGame.year_published }}</p>
      <p class="badge">Ages:{{ clickedGame.min_age }}+</p>
      <p class="badge">
        Playtime: {{ clickedGame.min_playtime }}-{{
          clickedGame.max_playtime
        }}mins
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players != clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}-{{ clickedGame.max_players }}
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players == clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}
      </p>
    </div>
    <h3 *ngIf="clickedGame.description_preview !== ''">Description</h3>
    <p>{{ clickedGame.description_preview }}</p>
  </div>
  <h4>5-6 PLAYERS</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board56Games">
      <div class="container">
        <img
          *ngIf="
            game.image_url !==
            'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
          "
          src="{{ game.image_url }}"
          alt="{{ game.name }}"
          class="row__poster"
        />
        <div class="overlayContainer" (click)="hidePopUp()">
          <p class="overlayText" (click)="onGameClicked(game); onEvent($event)">
            {{ game.name }}
          </p>
          <a
            target="_blank"
            href="https://www.amazon.com/s?k={{ game.name }}+board+game"
          >
            <img
              class="basketIcon"
              src="../../assets/basketIcon.png"
              alt="basketIcon"
            />
          </a>
          <img
            class="starIcon"
            [src]="
              isStarred(game)
                ? '../../assets/starredIcon.png'
                : '../../assets/starIcon.png'
            "
            alt="IconLarge"
            (click)="starGame(game); onEvent($event)"
            alt="basketIcon"
          />
          <img
            (click)="onGameClicked(game); onEvent($event)"
            class="infoIcon"
            src="../../assets/infoIcon.png"
            alt="basketIcon"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div class="popUpDesc" *ngIf="showGameDetails == '6'">
    <h2>{{ clickedGame.name }}</h2>
    <div class="badgesContainer">
      <p class="badge">{{ clickedGame.year_published }}</p>
      <p class="badge">Ages:{{ clickedGame.min_age }}+</p>
      <p class="badge">
        Playtime: {{ clickedGame.min_playtime }}-{{
          clickedGame.max_playtime
        }}mins
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players != clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}-{{ clickedGame.max_players }}
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players == clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}
      </p>
    </div>
    <h3 *ngIf="clickedGame.description_preview !== ''">Description</h3>
    <p>{{ clickedGame.description_preview }}</p>
  </div>
  <h4>7+ PLAYERS</h4>
  <div class="row__posters" #posters>
    <ng-container *ngFor="let game of board7pGames">
      <div class="container">
        <img
          *ngIf="
            game.image_url !==
            'https://s3-us-west-1.amazonaws.com/5cc.images/games/empty+box.jpg'
          "
          src="{{ game.image_url }}"
          alt="{{ game.name }}"
          class="row__poster"
        />
        <div class="overlayContainer" (click)="hidePopUp()">
          <p class="overlayText" (click)="onGameClicked(game); onEvent($event)">
            {{ game.name }}
          </p>
          <a
            target="_blank"
            href="https://www.amazon.com/s?k={{ game.name }}+board+game"
          >
            <img
              class="basketIcon"
              src="../../assets/basketIcon.png"
              alt="basketIcon"
            />
          </a>
          <img
            class="starIcon"
            [src]="
              isStarred(game)
                ? '../../assets/starredIcon.png'
                : '../../assets/starIcon.png'
            "
            alt="IconLarge"
            (click)="starGame(game); onEvent($event)"
            alt="basketIcon"
          />
          <img
            (click)="onGameClicked(game); onEvent($event)"
            class="infoIcon"
            src="../../assets/infoIcon.png"
            alt="basketIcon"
          />
        </div>
      </div>
    </ng-container>
  </div>
  <div class="popUpDesc" *ngIf="showGameDetails == '7'">
    <h2>{{ clickedGame.name }}</h2>
    <div class="badgesContainer">
      <p class="badge">{{ clickedGame.year_published }}</p>
      <p class="badge">Ages:{{ clickedGame.min_age }}+</p>
      <p class="badge">
        Playtime: {{ clickedGame.min_playtime }}-{{
          clickedGame.max_playtime
        }}mins
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players != clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}-{{ clickedGame.max_players }}
      </p>
      <p
        class="badge"
        *ngIf="clickedGame.min_players == clickedGame.max_players"
      >
        Players:{{ clickedGame.min_players }}
      </p>
    </div>
    <h3 *ngIf="clickedGame.description_preview !== ''">Description</h3>
    <p>{{ clickedGame.description_preview }}</p>
  </div>
</div>
